/* Стилі для галереї та модального вікна */
.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Додайте інші стилі за бажанням */
}

/* Додайте інші стилі для модального вікна */

.modal {
    display: none;
    /* Додайте стилі для центрування та відображення модального вікна поверх вмісту */
}